@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}

:root {
    --clr_yellow: #ffd32a;
    --clr_darkBlue: #1e272e;
    --clr_evenDarkerBlue: #0f1316;
    --clr_niceWhite: #f1f2f6;
}

body {
    background-color: var(--clr_niceWhite)
}

/*navbar*/
.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3vh;
    z-index: 1;
}

.navigation {
    position: relative;
    display: flex;
    background-color: var(--clr_darkBlue);
    padding-left: 20px;
    padding-right: 20px;
    height: 70px;
    width: 470px;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 gray;
}

.navigation ul {
    display: flex;
}

.navigation ul li {
    list-style: none;
    width: 70px;
    height: 70px;
}

.navigation ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 30px;
    color: var(--clr_yellow);
    text-align: center;
    z-index: 1;
    transition: 0.75s;
}

.navigation ul li:hover a .icon {
    transition: 0.5s;
    filter: hue-rotate(360deg);
    opacity: 0;
}

.navigation ul li.active a .icon {
    color: var(--clr_darkBlue);
    transition: 1.25s;
    transform: translateY(50px);
    filter: hue-rotate(360deg);
    opacity: 1;
}

.navigation ul li a .text {
    position: absolute;
    color: var(--clr_yellow);
    font-size: 16px;
    opacity: 0;
}

.navigation ul li:hover a .text {
    transition: 0.75s;
    filter: hue-rotate(360deg);
    opacity: 1;
}

.navigation ul li.active a .text {
    transition: 0.75s;
    transform: translateY(-10px);
    opacity: 1;
    filter: hue-rotate(360deg);
}

.marker {
    position: absolute;
    background-color: var(--clr_yellow);
    top: 70%;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    border: solid 6px var(--clr_niceWhite);
    transform: translateX(140px);
}

.navigation ul li:nth-child(1).active~.marker {
    transition: 0.75s;
    transform: translateX(calc(70px * 0));
}

.navigation ul li:nth-child(2).active~.marker {
    transition: 0.75s;
    transform: translateX(calc(70px * 1));
}

.navigation ul li:nth-child(3).active~.marker {
    transition: 0.75s;
    transform: translateX(calc(70px * 2));
}

.navigation ul li:nth-child(4).active~.marker {
    transition: 0.75s;
    transform: translateX(calc(70px * 3));
}

.navigation ul li:nth-child(5).active~.marker {
    transition: 0.75s;
    transform: translateX(calc(70px * 4));
}

/*fim navbar*/

/*podium*/

.headerRanking {
    display: flex;
    justify-content: center;
    position: relative;
}

.podium {
    max-width: 450px;
    align-items: left;
    top: 10vh;
    position: relative;
}

p {
    position: relative;
    margin-right: 30px;
    color: var(--clr_darkBlue);
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 2px;
    left: 3vh;
    opacity: 0;
    animation: opacity 3s linear forwards;
    animation-delay: 2.5s;
}

.position {
    position: absolute;
    font-size: 40px;
    justify-content: left;
    left: 12px;
    color: var(--clr_darkBlue);
}

.bar {
    display: flex;
    justify-content: right;
    align-items: center;
    position: relative;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 50px;
    margin-top: 15px;
    box-shadow: 0 4px 4px 0 gray;
}

.first {
    background-color: gold;
    animation: positionsPodium1 1s linear forwards;
}

.second {
    background-color: silver;
    animation: positionsPodium2 2s linear forwards;
}

.third {
    background-color: #FF7536;
    animation: positionsPodium3 3s linear forwards;
}

/*fim podium*/

/* ranking */

.cointainerRanking {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ranking {
    top: 15vh;
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;

}

table {
    border-collapse: collapse;
    box-shadow: 0 4px 4px 0 gray;
    background-color: var(--clr_darkBlue);
    text-align: center;
    overflow: hidden;
    border-radius: 10px;
    color: var(--clr_niceWhite);
    margin-bottom: 10vh;
}

thead {
    border-bottom: solid 2px var(--clr_niceWhite);
}

th {
    padding: 15px 50px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 13px;
    font-weight: 900;
}

td {
    padding: 15px 30px;
}

.points {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}

.userName {
    text-align: left;
}

tr:nth-child(even) {
    background-color: var(--clr_evenDarkerBlue);
}

/* fim ranking */

/* animations */
@keyframes positionsPodium1 {
    from {
        width: 500px;
    }

    to {
        width: 450px;
    }
}

@keyframes positionsPodium2 {
    from {
        width: 500px;
    }

    to {
        width: 360px;
    }
}

@keyframes positionsPodium3 {
    from {
        width: 500px;
    }

    to {
        width: 260px;
    }
}

@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* fim animations */
